main{
    margin: 0 auto;
    width: 52%;
}

.inputArea{
    height: 54px;
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 0I;
}

.inputArea input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    color: var(--gray-300);
    background: var(--gray-500);
    font-weight: normal;
    font-size: 1rem;
}

.inputArea button[type="submit"]{
    height: 100%;
    padding: 0px 25px 0px 25px;
    color: var(--gray-100);
    background: var(--lilac-dark);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.inputArea button[type="submit"]:not(:disabled):hover{
    background: var(--lilac);
    transition: background-color 0.3s;
}

.inputArea input:focus{
    outline: 1px solid var(--purple-dark)
}

.labels{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.labels p:first-child{
    color: var(--lilac);
}

.labels p{
    margin-top: 70px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--pink);
}

.labels p > span {
    color: var(--gray-200);
    background: var(--gray-400);
    font-size: 0.75rem;
    padding: 2px 8px;
    border-radius: 99px
}

.task{
    width: 100%;
    background: var(--gray-500);
    padding: 13px 50px;
    border: solid 1px var(--gray-400);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;    
}

.task p{
    color: var(--gray-100);
    font-weight: normal;
    font-size: 0.9rem;
}

.deleteButton {
    line-height: 0;
    background: transparent;
    border: none;
    color: var(--gray-300);
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 2px;
    margin: 5px 15px 0px 0px;
}

.deleteButton:hover {
    background: var(--gray-400);
    color: var(--danger);
} 

.taskCompleted{
    text-decoration: line-through;
    opacity: 0.4;
}

.taskList{
    color: var(--gray-300);
    line-height: 140%;
    font-size: 1rem;
    margin-top: 25px;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.taskList > img{
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.taskList > span{
    font-weight: bold;
}

.taskList > p{
    font-weight: normal;
}

.checkbox {
    background-color: transparent;
    width: 23px;
    height: 23px;
    border-radius: 999999px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--blackA7);
    border: solid var(--lilac-dark) 1px;
    line-height: 0;
}

.checkbox[data-state="checked"] {
    background-color: var(--lilac-dark);
}

.checkboxIndicator {
    color: var(--gray-100);
  }
  